# Ignore model files
models/
models/*

# Ignore dataset files
data/
data/*

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
